* {
    padding: 0;
    margin: 0;
}
.logo img {
    width: 90px;
    margin-left: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70px;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-between;
    font-family: roboto;
    font-weight: 600;
    font-size: 16px;
}

.list li {
    padding: 6px 26px;
    list-style: none;
}

.list li a {
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: roboto;
    height: 400px;
}

.part1 {
    margin-top: 120px;
    margin-left: 20px;
}

.part1 h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0px;
}
.part1 p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.part2 li {
    margin-bottom: 10px;
    list-style: none;
    font-weight: bold;
    font-size: 12px;
}

.part2 li i {
    padding-right: 6px;
}
.part3 {
    display: flex;
    list-style: none;
}

.part3 li a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}
.avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 80px;
    margin-top: 70px;
}
